@page {
        size: A4;
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .sheet {
        /* margin-top: 5px; */
        /* box-sizing: border-box; */
        padding-top: 12px;
        padding-left: 12px;
        padding-right: 8px;
        /* padding-bottom: 0px; */
        display: grid;
        grid-template-columns: 105mm 105mm;
        grid-template-rows: 74.3mm 74.3mm 74.3mm 74.3mm;
        width: 210mm;
        height: 297mm;
    }

    .label { 
        width: 105mm;
        height: 74.3mm;
        box-sizing: border-box;
        /* border: 1px dashed #555; */
        /* включено для проверки */
        padding: 2mm;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

    .container {
        /* margin: 1mm; */
        border: 1px solid black;
        height: 68mm;
        width: 98.3mm;
        font-size: 9px;
    }

    .block_1 {
        display: flex;
    }

    .header {
        display: flex;
        justify-content: center;
        padding: 2px;
        /* margin-top: 2px; */
        font-size: 12px;
        font-style: italic;
        border-bottom: 1px solid black;
        letter-spacing: 3px;
        font-weight: bold;
    }

    .address {
        border-bottom: 1px solid black;
        padding: 2px;
    }

    .QR {
        width: 170px;
        border: 1px solid #000;
        border-top: none;
        border-right: none;
        background-image: url(/image_qr/qr-TG.jpg);
        background-size: 69px 80px;
    }

    .block_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
        gap: 2px;
        border-bottom: 1px solid black;
    }

    .namePosition {
        font-size: 12px;
        font-weight: bold;
    }

    .block_3 {
        border-bottom: 1px solid black;
        padding-left: 2px;
        padding-right: 2px;
    } 

    .block_4 {
        padding-left: 2px;
        display: flex;
        height: 9mm;
        align-items: center;
        font-size: 11px;
        gap: 12px;
        /* border: 1px solid #000; */
    }

    #footer {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid #000; */
        width: 210mm;
    }